#hover-hide{
    display:none
}
#hover:hover + #hover-hide{
    display: block;
    color: aquamarine;
}
#hover-edit{
    display:none
}
#edit:hover + #hover-edit{
    display: block;
    color: aquamarine;
}
#hover-add{
    display:none
}
#add:hover + #hover-add{
    display: block;
    color: aquamarine;
}